<footer class="footer">
  <div class="footer-container">

    <div class="footer-section logo">
      <img src="assets/mandela-imgs/logo-mandela-vive.png" alt="Mandela Vive">
    </div>

    <div class="footer-section redes">
      <h3>REDE SOCIAIS</h3>
      <ul>
        <li><img src="assets/mandela-imgs/icone youtube topo.svg" class="fab fa-youtube">MANDELA VIVE</li>
        <li><img src="assets/mandela-imgs/icone youtube topo.svg" class="fab fa-youtube">MANDELÃO ZONA NORTE</li>
        <li><img src="assets/mandela-imgs/icone spotfy topo.svg" class="fab fa-facebook">MANDELA VIVE</li>
        <li><img src="assets/mandela-imgs/icone instagram rodape.svg" class="fab fa-instagram">&#64;MANDELAVIVERECORDS</li>


      </ul>
    </div>

    <div class="footer-section contato">
      <h3>CONTATO</h3>
      <ul>
        <li><i class="fas fa-phone-alt"></i> (11) 96958-9567 - PEDRO</li>
        <li><i class="fas fa-envelope"></i> CONTATOMANDELAVIVE&#64;GMAIL.COM</li>

      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <span>Mandela Vive Records © Todos os direitos reservados.</span>
    <span>Site produzido por <strong><a target="_blank" href="https://architecturetechnological.com/">Architecture Technological</a></strong></span>
  </div>
</footer>
