.artistas-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  background-color: #000;
  flex-wrap: wrap;
  margin-top: -68px;
}


.artista-card {
  position: relative;
  width: 250px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: transform 0.3s;
}

.artista-card:hover {
  transform: scale(1.03);
}

.artista-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease;
  padding: 20px;
  text-align: center;
}

.artista-card:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 10px;
  font-family: Fresco Stamp;
}

.overlay p {
  font-size: 14px;
  color: #ccc;
  font-family: Fresco Stamp;
}
.artistas-title {
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 80px;
  letter-spacing: 5px;
  color: black;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.1);
  font-family: 'Urbanist', sans-serif;
  transform: translateX(-150%);
  transition: transform 1s ease-out;
}

.artistas-title.animate-in {
  transform: translateX(0);
}


@media (max-width: 450px) {

.artistas-title{
  font-size: 50px !important;
}
.artistas-container {
  margin-top: -45px !important;
}

}


.overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.artista-card:hover .overlay {
  opacity: 1;
}

.show-always {
  opacity: 1 !important;
}

