
@font-face {
  font-family: 'Another Tag';
  src: url('assets/fonts/AnotherTag-vmK4M.ttf') format('truetype'),
       url('assets/fonts/AnotherTag-2Onm8.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0px;
  background-color: black;
}

// .decor-lateral-esquerda {
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100vh;
//   z-index: 999;
//   pointer-events: none;
//   opacity: 0.8;
// }
